body {
  background-color: rgb(233, 233, 193);
  font-family: ui-monospace;
  color: rgb(0, 75, 128);
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: rgba(228, 238, 245, 0.841);
  padding: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.city {
  color: rgb(172, 159, 15);
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgb(6, 94, 246);
}

.city:last-child {
  border: none;
}

.time {
  font-size: 48px;
  font-weight: bold;
  color: rgb(194, 59, 41);
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
  color: rgb(0, 75, 128);
}

.date {
  opacity: 0.7;
  color: rgb(1, 131, 29);
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  color: rgb(1, 131, 29);
  border-color: rgb(0, 113, 234);
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-size: 36px;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

footer {
  text-align: center;
  font-size: 18;
  color: rgb(0, 81, 152);
}
